.carousel {
   background-color: #222;
   border-bottom: 1px solid #e1e1e1;
}

.carousel-inner {
   width: 70vw !important;
   margin: auto;
   background-color: inherit;
}

.carousel-item { 
   height: 500px;
}

.carousel-item img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.info {
   padding: 50px;
}

.info h2 {
   text-transform: capitalize;
}

.info select {
   margin-top: 50px;
}

.mycards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 25px 0;
}

.mycard {
   margin: 15px;
   padding: 25px;
   background-color: #efefef;
   border-radius: .25rem;
}

@media screen and (max-width: 575px) {
   .carousel-item { 
      height: 250px;
   }

   .info {
      padding: 50px 25px;
   }

   .info select {
      margin-top: 25px;
   }

   .mycards {
      grid-template-columns: 1fr 1fr;
      margin: 25px 0;
   }

   .mycard {
      margin: 5px;
      padding: 25px;
      text-align: center;
   }

   .mycard h5 {
      font-size: 17px;
   }
}

@media screen and (min-width: 575px) and (max-width: 992px) {
   .carousel-item { 
      height: 300px;
   }
}